.row-b{
  background-color:#f9f9f9;
}
.row-a{
  background-color:#fff;
}

.expand-column-no-header{
  .ant-table-thead{
    display: none;
  }
  .ant-table-small{
    border:0;
  }
}


.expand-column-header{
  .ant-table-thead{
    display: inherit;
  }
  .ant-table-small{
    border:0;
  }
}


